@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff43;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

section {
    padding: 5rem 0;
}

.container {
    padding-left: 180px;
    padding-right: 180px;
}

.section-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 3rem;
}

.section-title h2 {
    font-size: 3.2rem;
    font-weight: 900;
    color: #333;
}

.section-title span {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    bottom: 10px;
    color: #C8A97E;
    z-index: -1;
}

.blogs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.blog {
    width: 350px;

}

.blog-img {
    height: 300px;
    overflow: hidden;
}

.blog-img img {
    height: 100%;
    object-fit: cover;
}

.date {
    padding: 10px 0;
}

.date span {
    color: #ccc;
    font-weight: 400;

}

.blog-content {
    padding: 0 18px;
    background-color: #fff;
}

.blog-content h3 {
    font-size: 20px;
}

.blog-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.link {
    color: #000;
}

.message i,
span {
    color: #595858;
}